{% extends "base.html"%}

{% block content %}
Hosgeldiniz, {{register_list.last}}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Sehir</td>
                <td>Kayit Turu</td>
                <td>Isim Soyisim</td>
                <td>Telefon</td>
            </tr>
        </thead>
        <tbody>
        {% for kayit in register_list %}
            <tr>
                <td>{{kayit.sehir}}</td>
                <td>{{kayit.kayit_turu}}</td>
                <td>{{kayit.isim_soyisim}}</td>
                <td>{{kayit.telefon}}</td>
                <td>
                    <a href="{% url 'kayit_guncelle' kayit.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit"></i>
                    </a>
                    <form action="{% url 'kayit_sil' kayit.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn text-secondary px-0">
                            <i class="far fa-trash-alt text-danger "></i>
                        </button>
                    </form>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock content %}